    .wp-block-gallery {
      width: 100%;
      background-color: #303133;
      color: white;
      font-size: 14px;

      img {
        display: block;
        margin: 0 auto;
      }

      figcaption {
        color: #808285;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      span {
        color: white;
        font-weight: bold;
      }

      .navigation {
        text-align: center;
        padding-bottom: 24px;
      }
      .arrow {
        width: 13px;
        height: 24px;
      }

      .prev {
        transform: rotate(-180deg);
        float: left;
        margin-left: 24px;
      }

      .next {
        float: right;
        margin-right: 24px;
      }

      @media screen and (min-width: 768px) {
        padding-top: 37px;

        img {
          width: 85%;
        }
      }
    }
