.MainPage {
  background-color: #e6e6e6;

  &-articles-wrapper {
    padding: 4vh 0;
    margin: 0 auto;
    display: flex;
    max-width: 1120px;
    flex-wrap: wrap;
  }

  &-filter {
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    font-weight: 500;
    font-family: sans-serif;
    padding: 30px 5px;
  }

  .simple-spinner {
    margin: 5px auto;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
