.MainPage {
  background-color: #e6e6e6;

  &-articles-wrapper {
    padding: 4vh 0;
    margin: 0 auto;
    display: flex;
    max-width: 1120px;
    flex-wrap: wrap;
  }

  &-filter {
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    font-weight: 500;
    font-family: sans-serif;
    padding: 30px 5px;
  }
}
