.Article {
    a {
        text-decoration: none;
    }

    hr {
        border: 1px solid orange;
        width: 38px;
    }

    .image {
        height: 230px;
    }

    .article-content {
        text-align: center;
        padding: 24px;
    }

    .title {
        font-size: 18px;
        color: #161b1b;
        font-weight: bold;
    }

    .excerpt {
        font-size: 14px;
        color: #808285;
    }

    .date {
        font-size: 12px;
        color: #808285
    }
}