footer {
    text-align: center;
    color: #808285;
    text-transform: uppercase;
    font-size: 10px;
    margin: 30px 0 0 0;
    //background-color: #3e4556;
    svg {
    }
    img {
        background: url(https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/e35/54511029_139078303811955_6613196153247202997_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=103&oh=e7a067f916172d12b4f9ed4d0d2bc656&oe=5E8D28BC) no-repeat;
        max-width: 100%;
        margin-top: -3px;
    }
}