.Header {
  .logo {
    left: 50%;
    position: absolute;
    top: 17px;
    height: 32px;
    width: 32px;
    transform: translate3d(-50%, 0, 0);
  }

  .hamburger {
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    padding: 17px 24px 11px 24px;
    &-enter-done {
      img {
        transform: rotate(-90deg);
        transition: all 350ms ease;
      }
    }
    &-exit {
      img {
        transition: all 350ms ease;
      }
    }
  }

  .search {
    float: right;
    padding: 17px 24px 11px 24px;
    border-left: 1px solid #e6e6e6;
  }

  .bar {
    height: 64px;
  }

  .search-form {
    padding: 0 24px;
    margin: 23px 0;
    input {
      box-sizing: border-box;
      font-size: 14px;
      color: #808285;
      width: 100%;
      outline: 0;
      height: 40px;
      padding: 0 17px;
      border: 1px solid #e6e6e6;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: 0;
    }
    li {
      border: 1px solid #e6e6e6;
      font-size: 15px;
      height: 54px;
      line-height: 54px;
      padding: 0 20px;
      font-weight: bold;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color: #f26822;
      }
    }
  }

  .menu {
    margin: 30px 0 0 0;

    &-enter {
      opacity: 0;
      transform: scale(0.9);
    }

    &-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }
  }

  .links {
    ul {
      padding: 0;
      list-style: none;
      text-align: center;
      color: #333;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
    }
    li {
      padding: 0 0 20px 0;
    }
  }
}
