.Post {
  margin-top: 64px;
  max-width: 850px;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    border: 1px solid #f26822;
    width: 48px;
  }

  .excerpt {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #161b1b;
    margin: 30px 0;
  }

  &-content {
    padding: 0 24px;
    margin: 0 0 25px 0;

    h1 {
      font-size: 36px;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      margin-top: 30px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      margin-top: 15px;
      font-size: 16px;
      color: #303133;
      line-height: 32px;
    }

    figure {
      margin: 0;
      width: 100%;
      margin: 0 0 1em 0;
    }

    figcaption {
      margin: 0.5em 0 1em 0;
      font-size: 13px;
      color: #555d66;
      text-align: center;
    }

    blockquote {
      width: calc(100% - 4rem);
      max-width: 58rem;
      border-color: #d4213d;
      border-style: solid;
      border-width: 0 0 0 0.2rem;
      padding: 5px 20px;
      margin: 0 20px;
      p {
        margin: 0;
        font-style: italic;
      }
    }

    .wp-block-image img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: block;
    }

    .wp-block-gallery {
      width: 100%;
      background-color: #303133;
      color: white;
      font-size: 14px;

      img {
        display: block;
        margin: 0 auto;
      }

      figcaption {
        color: #808285;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .arrow {
        width: 13px;
        height: 24px;
      }

      .prev {
        transform: rotate(-180deg);
        float: left;
        margin-left: 24px;
      }

      .next {
        float: right;
        margin-right: 24px;
      }

      span {
        color: white;
        font-weight: bold;
      }

      .navigation {
        text-align: center;
        padding-bottom: 24px;
      }

      @media screen and (min-width: 768px) {
        padding-top: 37px;

        img {
          width: 85%;
        }
      }
    }
  }

  &-social-media {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #161b1b;
    letter-spacing: 0.05em;
    padding: 5px;

    a {
      width: 40px;
      position: relative;
      margin: 19px 8px 5px 8px;
      cursor: pointer;
      display: inline-block;
    }
  }
}
